<ion-view view-title="Profile">
  <ion-content>

    <div class="list list-inset">
      <div class="profile-holder text-center">
        <img id="myImage" class="profile-pic" ng-src="{{image}}" src="img/about.png">
        <button id="edit-image" class="button button-medium button-outline button-positive" ng-click="openAction()">Edit</button>
        <button id="save-image" class="button button-medium button-outline button-balanced" ng-show="showSave" ng-click="uploadImage()">Save</button>
      </div>
      <div class="item">
        <h2>First name</h2>
        <p ng-bind="firstName"></p>
      </div>

      <div class="item">
        <h2>Last name</h2>
        <p ng-bind="lastName"></p>
      </div>

      <div class="item">
        <h2>Email</h2>
        <p ng-bind="email"></p>
      </div>

      <div class="item">
        <h2>username</h2>
        <p ng-bind="username"><p>
      </div>
    </div>

    <div class="list">
      <a class="item item-icon-left" href="#/tab/profile/edit">
        <i class="icon ion-ios-compose"></i>
        Edit Profile
      </a>

      <a class="item item-icon-left" href="#/tab/profile/edit/password">
        <i class="icon ion-android-lock"></i>
        Change Password
      </a>

      <a class="item item-icon-left" ng-click="logout()" href="#">
        <i class="icon ion-log-out"></i>
        Logout
      </a>
    </div>

  </ion-content>
</ion-view>
