
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Posts Tab -->
  <ion-tab title="Posts" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/posts">
    <ion-nav-view name="tab-posts"></ion-nav-view>
  </ion-tab>

  <!-- create Tab -->
  <ion-tab title="Create Post" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tab/create">
    <ion-nav-view name="tab-create"></ion-nav-view>
  </ion-tab>

  <!-- Users Tab -->
  <ion-tab title="Users" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/users">
    <ion-nav-view name="tab-users"></ion-nav-view>
  </ion-tab>

  <!-- Profile Tab -->
  <ion-tab title="Profile" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>

</ion-tabs>
